* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
    animation-name: background-animation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes background-animation {
    0% {
        background-color: rgb(61, 98, 112);
    }
    10% {
        background-color: rgb(77, 123, 141);
    }
    20% {
        background-color: rgb(105, 104, 211);
    }
    30% {
        background-color: rgb(131, 207, 237);
    }
    40% {
        background-color: rgb(109, 176, 201);
    }
    50% {
        background-color: rgb(25, 85, 98);
    }
    60% {
        background-color: rgb(25, 40, 46);
    }
    70% {
        background-color: rgb(13, 18, 20);
    }
    80% {
        background-color: rgb(0, 0, 0);
    }
    90% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(61, 98, 112);
    }
}
.container {
    display: flex;
}
.stars span {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(40,38,38) 0 0 10px 0 #fff;
    opacity: 0;
    animation-name: visible;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.stars span:nth-child(1) {
    left: 7%;
    top: 7%;
}
.stars span:nth-child(2) {
    left: 15%;
    top: 35%;
}
.stars span:nth-child(3) {
    left: 10%;
    top: 55%;
}
.stars span:nth-child(4) {
    left: 35%;
    top: 44%;
}
.stars span:nth-child(5) {
    left: 69%;
    top: 45%;
}
.stars span:nth-child(6) {
    left: 90%;
    top: 45%;
}
.stars span:nth-child(7) {
    left: 95%;
    top: 26%;
}
.stars span:nth-child(8) {
    left: 57%;
    top: 49%;
}
.stars span:nth-child(9) {
    left: 24%;
    top: 24%;
}
.stars span:nth-child(10) {
    left: 78%;
    top: 10%;
}
.stars span:nth-child(11) {
    left: 80%;
    top: 25%;
}
.stars span:nth-child(12) {
    left: 35%;
    top: 15%;
}
.stars span:nth-child(13) {
    left: 55%;
    top: 10%;
}
.stars span:nth-child(14) {
    left: 98%;
    top: 5%;
}
.stars span:nth-child(15) {
    left: 65%;
    top: 20%;
}
@keyframes visible {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.sun {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0 0 20px 0 yellow;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    animation-name: sun-rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes sun-rotation {
    0% {
        top: 100%;
        left: 50%;
    }
    5% {
        top: 80%;
        left: 40%;
    }
    10% {
        top: 60%;
        left: 30%;
    }
    15% {
        top: 40%;
        left: 20%;
    }
    20% {
        top: 20%;
        left: 10%;
    }
    25% {
        top: 0%;
        left: 0%;
    }
    30% {
        top: 20%;
        left: 10%;
    }
    35% {
        top: 40%;
        left: 20%;
    }
    40% {
        top: 60%;
        left: 30%;
    }
    45% {
        top: 80%;
        left: 40%;
    }
    50% {
        top: 100%;
        left: 50%;
    }
    60% {
        top: 100%;
        left: 50%;
    }
    70% {
        top: 100%;
        left: 50%;
    }
    80% {
        top: 100%;
        left: 50%;
    }
    90% {
        top: 100%;
        left: 50%;
    }
    100% {
        top: 100%;
        left: 50%;
    }
}
.moon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 51%;
    box-shadow: -6px 10px 0 2px #fff;
    z-index: -2;
    animation-name: moon-rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes moon-rotation {
    100% {
        top: 100%;
        left: 50%;
    }
    90% {
        top: 80%;
        left: 60%;
    }
    80% {
        top: 60%;
        left: 70%;
    }
    70% {
        top: 40%;
        left: 80%;
    }
    60% {
        top: 20%;
        left: 90%;
    }
    55% {
        top: 0%;
        left: 100%;
    }
    50% {
        top: 20%;
        left: 90%;
    }
    45% {
        top: 40%;
        left: 80%;
    }
    35% {
        top: 60%;
        left: 70%;
    }
    30% {
        top: 80%;
        left: 60%;
    }
    25% {
        top: 100%;
        left: 50%;
    }
    20% {
        top: 100%;
        left: 50%;
    }
    15% {
        top: 100%;
        left: 50%;
    }
    10% {
        top: 100%;
        left: 50%;
    }
    5% {
        top: 100%;
        left: 50%;
    }
    0% {
        top: 100%;
        left: 50%;
    }
}
.mountain1 {
    width: 100vw;
    height: 500px;
    position: absolute;
    background-color: rgb(77, 217, 77);
    bottom: -20%;
    left: 20%;
    border: 2px solid black;
    border-radius: 50%;
}
.mountain2 {
    width: 100vw;
    height: 500px;
    position: absolute;
    background-color: rgb(103, 186, 103);
    bottom: -30%;
    left: -50%;
    border: 2px solid black;
    border-radius: 50%;
}
.mountain3 {
    width: 100vw;
    height: 500px;
    position: absolute;
    background-color: rgb(31, 135, 31);
    bottom: -40%;
    left: 40%;
    border: 2px solid black;
    border-radius: 50%;
}